# AWS S3 (ใช้ค่าเดียวกับ vutf-api)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-7
S3_BUCKET=
S3_ENDPOINT=https://s3.ap-southeast-7.amazonaws.com

# RabbitMQ (default)
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_JOB_QUEUE=pdf_verification_jobs
RABBITMQ_RESULT_QUEUE=pdf_verification_results 