# ─────────────────────────────
# Application
# ─────────────────────────────
NODE_ENV=development
PORT=3000

# ─────────────────────────────
# Database (PostgreSQL)
# ─────────────────────────────
# ถ้าใช้ Docker ให้ใช้ DB_HOST=db
# ถ้าใช้ local Postgres ให้ใช้ DB_HOST=localhost
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# ─────────────────────────────
# Redis
# ─────────────────────────────
# ถ้าใช้ Docker ให้ใช้ REDIS_HOST=redis
# ถ้าใช้ local Redis ให้ใช้ REDIS_HOST=localhost
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# ─────────────────────────────
# JWT Authentication
# ─────────────────────────────
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=


# ─────────────────────────────
# Frontend
# ─────────────────────────────
FRONTEND_URL=http://localhost:5173


# MinIO Object Storage
MINIO_ENDPOINT=s3.ap-southeast-7.amazonaws.com
MINIO_PORT=443
MINIO_USE_SSL=true
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_CONSOLE_PORT=9001
MINIO_REGION=ap-southeast-7

# Upload Configuration
UPLOAD_MAX_FILE_SIZE=52428800


# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_JOB_QUEUE=pdf_verification_jobs
RABBITMQ_RESULT_QUEUE=pdf_verification_results 